body {
  background-color: #f0f0f0;
  color: #333;
}

.App {
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-container {
  text-align: center;
}

.auth-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

input:focus {
  outline: none;
  border-color: #007bff;
}

/* Dark Mode Styles */
body.dark-mode {
  background-color: #333;
  color: #fff;
}

.auth-container.dark-mode {
  background-color: #444;
}
